.switch__block {
  border: 1px solid var(--border-color);
  border-radius: 40px;
  padding: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.switch__button {
  background-color: #1c1c21;
  border-radius: 100%;
  border: 1px solid
    linear-gradient(180deg, #2f2f37 27.85%, rgba(47, 47, 55, 0) 100%);

  width: 62px;
  height: 62px;
}
